<h2>{{ tytul_listy }}</h2>

<ul>
  <li *ngFor="let student of students" (click)="toggleDetails(student)">
    {{ student.imie }} {{ student.nazwisko }}
    <ul *ngIf="student.showDetails">
      <li>Wiek: {{ student.wiek }}</li>
      <li *ngFor="let ocena of student.oceny" [ngStyle]="{'color': ocena === 2.0 ? 'red' : 'grey'}">
        Ocena: {{ ocena }}
      </li>
    </ul>
  </li>
</ul>

<button id="add" (click)="pokazFormularz = !pokazFormularz">Dodaj studenta</button>
<add-student *ngIf="pokazFormularz" (studentDodany)="dodajStudenta($event)"></add-student>
<edit-student *ngIf="studentDoEdycji" [student]="studentDoEdycji!"></edit-student>

